@import url("global.css");

.conteiner {
    display: flex;
    flex-wrap: wrap;
}
.form-conteiner {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
}